<% provide(:title, 'Quem somos') %>
<h1>Quem somos</h1>
<div class="row">
	<div class="col-md-2">
		<%= image_tag("jefferson.jpg", :alt => "jefferson louback") %>
	</div>
	<div class="col-md-4" style="border-right: 1px solid #333;">
		<p>
		<strong>Dr. Jefferson Braga Louback – Idealizador, fundador e diretor médico do sistema Dr Derma.</strong>
		<br>
		Médico dermatologista, CRM 52-40093-0 - RJ.
		<br>
		Especialização no Serviço de Dermatologia do Hospital Gafrée e Guinle da UNI-RIO.
		<br>
		Membro Efetivo Titular da Sociedade Brasileira de Dermatologia (SBD), com Título de Especialista desde 1987.
	</div>
	<div class="col-md-2">
		<%= image_tag("face.jpg", :alt => "juliana louback") %>
	</div>
	<div class="col-md-4">
		<p>
		<strong>Juliana Leal Louback - Co-Fundadora e engenheira de software do sistema Dr. Derma.</strong>
		<br>
		Mestrando em Ciência da Computação com especialização em Aprendizado de Máquina, na Columbia University in the City of New York.
		<br>
		Bacharel em Sistemas de Informação, formada na Universidade Federal do Estado do Rio de Janeiro.
		<br>
		Graduação sanduíche na New York University
		</p>
	</div>
		
</div>
	