<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bem vindo ao Dr. Derma!</h1>

  <h2>
    Essa é a página principal.
  </h2>

  <%= link_to "Cadastre-se!", signup_path, class: "btn btn-lg btn-primary" %>
</div>