<% provide(:title, 'Sucesso') %>
<h1>Parabéns, <%= params[:name] %></h1>
<hr>
<div class="row success-signup">
	<p>Seus dados foram enviados com sucesso e encaminhados para o comitê de seleção Dr.Derma. Pendente aprovação, em até 48 horas sua conta será ativada. Esperamos logo poder firmar nossa parceria. Seja bem-vindo!</p>
	<p>Caso sua conta não seja ativada, entre em <%= link_to "contato",    contact_path %>.</p>
</div>
