<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        Nome:<strong><%= @user.name %></strong>
		<br>
		CRM:<strong><%= @user.crm %></strong>
		<br>
		Email:<strong><%= @user.email %></strong>
      </h1>
    </section>
  </aside>
</div>
