<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <strong>Nome: </strong><%= @user.name %>
		<br>
		<strong>CRM: </strong><%= @user.crm %>
		<br>
		<strong>Email: </strong><%= @user.email %>
      </h1>
    </section>
  </aside>
  <h1>Casos</h1>
</div>
