<footer class="footer">
  <small>
    Sistema desenvolvido por <a href="http://julianalouback.com/">Juliana Louback</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quem Somos",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
  </nav>
</footer>