<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Dr.Derma | Dermatologia Colaborativa", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Quem Somos", about_path %></li>
        <li><%= link_to "Contato", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>